<script setup>
import { onMounted, onUnmounted } from "vue";

//images
import imgAtila from "../../assets/img/reflora/atila.jpg";
import imgHeader from "../../assets/img/reflora/reflora.png";
import imgLogoHeader from "../../assets/img/reflora/logo_header.png";

//components
import NavbarDefault from "../../examples/navbars/NavbarDefault.vue";
import DefaultFooter from "../../examples/footers/FooterDefault.vue";
import Header from "../../examples/Header.vue";

import InfoCount from "../../modules/inicio/components/InfoCount.vue";
import ObjectiveOnu from "../../modules/inicio/components/Onu.vue";
import ParceirosEFAQ from "../../modules/inicio/components/ParceirosEFaq.vue";
import Contatos from "../../modules/inicio/components/Contatos.vue";
import MapsTree from "@/modules/maps/index.vue";

//hooks
const body = document.getElementsByTagName("body")[0];
onMounted(() => {
  body.classList.add("presentation-page");
  body.classList.add("bg-gray-200");
});
onUnmounted(() => {
  body.classList.remove("presentation-page");
  body.classList.remove("bg-gray-200");
});

</script>

<template>
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <NavbarDefault :sticky="true" />
      </div>
    </div>
  </div>
  <Header>
    <div
      class="page-header min-vh-50"
      :style="`background-image: url(${imgHeader})`"
      loading="lazy"
    >
      <div class="container">
        <div class="row">
          <div class="col text-center mx-auto position-relative">
            <img
              class="img-fluid"
              :src="imgLogoHeader"
              height="245"
              width="800"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </Header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <InfoCount />
    <MapsTree id="secArvoresPlantadas" />
    <section class="my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <img
              class="img-fluid"
              :src="imgAtila"
              style="border-radius: 50%; margin-bottom: 30px"
              alt="imgAtila"
            />
          </div>

          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-9"
            id="secReflora"
          >
            <h4 class="text-center">ReFlora</h4>
            <p>
              O ReFlora é um projeto de reflorestamento da flora brasileira
              através da música, onde a cada 100 streammings nas plataformas
              digitais de música, 1 árvore é plantada no bioma da Mata
              Atlântica. O ReFlora foi fundado pelo jovem artista baiano Átila
              Marques. Com 20 anos, decide unir sua arte à sustentabilidade, e
              através da música promover um O plantio ocorre através da parceria
              com a One Tree Planted e as árvores são plantadas no bioma da Mata
              Atlântica, na cidade de Jussara
            </p>
          </div>
        </div>

        <ObjectiveOnu />

        <div class="row" id="secFundador">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-9">
            <h4 class="text-center mt-5">Fundador</h4>
            <p>
              Átila é um jovem artista baiano de 20 anos. É cantor, compositor,
              estudante de Artes da Universidade Federal da Bahia e entusiasta
              do meio ambiente e de um estilo de vida mais consciente e
              sustentável. Na arte encontrou seu sentido de viver e nas canções,
              percebeu uma possibilidade de espalhar mais amor e de transformar
              positivamente o mundo à sua volta
            </p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <img
              class="img-fluid"
              :src="imgAtila"
              style="border-radius: 50%"
              alt="imgAtila"
            />
          </div>
        </div>
      </div>
    </section>

    <ParceirosEFAQ />

    <Contatos />
  </div>
  <DefaultFooter />
</template>
<style scoped>
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .imgResponsive {
    height: 50vh;
    width: 50vw;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .imgResponsive {
    height: 28vh;
    width: 50vw;
  } */
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  .imgResponsive {
    height: 18vw;
    width: 17vw;
  }
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  .imgResponsive {
    height: 16vw;
    width: 15vw;
  }
} */
</style>