<script >
// example components
import DefaultNavbar from "@/examples/navbars/NavbarDefault.vue";
import Header from "@/examples/Header.vue";

//Vue Material Kit 2 components
import MaterialInput from "@/components/MaterialInput.vue";
import MaterialSwitch from "@/components/MaterialSwitch.vue";
import MaterialButton from "@/components/MaterialButton.vue";

// material-input
import setMaterialInput from "@/assets/js/material-input";

import { onMounted, watch } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import Swal from "@/swal";

export default {
  components: {
    DefaultNavbar,
    Header,
    MaterialInput,
    MaterialSwitch,
    MaterialButton,
  },
  setup() {
    const store = useStore();
    const router = useRouter();

    const someAction = async () =>
      await store.dispatch("error/setErrors", "errrou feio");
    const errorGetter = () => store.getters["error/errors"];

    watch(errorGetter, (val) => {
      console.log(val);
    });

    onMounted(async () => {
      // Swal.messageToast('Adicionado com sucesso.')
      setMaterialInput();
    });

    return { someAction };
  },
};
</script>
<template>
  <DefaultNavbar transparent />
  <Header>
    <div class="page-header align-items-start min-vh-100" loading="lazy">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div
              class="card z-index-0 fadeIn3 fadeInBottom"
              style="opacity: 0.9"
            >
              <div class="text-center">
                <img
                  style="width: 100px; height: 100px; margin: 10px"
                  src="../../assets/img/reflora/logo.png"
                />
              </div>
              <h6 class="text-success font-weight-bolder text-center mt-2 mb-0">
                FAÇA LOGIN PARA INICIAR SUA SESSÃO.
              </h6>
              <div class="card-body">
                <form role="form" class="text-start">
                  <MaterialInput
                    id="email"
                    class="input-group-outline my-3"
                    :label="{ text: 'Email', class: 'form-label' }"
                    type="email"
                  />
                  <MaterialInput
                    id="password"
                    class="input-group-outline mb-3"
                    :label="{ text: 'Password', class: 'form-label' }"
                    type="password"
                  />
                  <div class="text-center">
                    <MaterialButton
                      @click="someAction()"
                      class="my-4 mb-2"
                      variant="gradient"
                      color="success"
                      fullWidth
                      type="button"
                      >Logar</MaterialButton
                    >
                  </div>
                  <p class="mt-4 text-sm text-center">
                    Don't have an account?
                    <a
                      href="#"
                      class="text-success text-gradient font-weight-bold"
                      >Sign up</a
                    >
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer position-absolute bottom-2 py-2 w-100">
        <div class="container">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 col-md-6 my-auto">
              <div
                class="copyright text-center text-sm text-white text-lg-start"
              >
                © {{ new Date().getFullYear() }}, made with
                <i class="fa fa-heart" aria-hidden="true"></i> by
                <a
                  href="https://www.creative-tim.com"
                  class="font-weight-bold text-white"
                  target="_blank"
                  >Creative Tim</a
                >
                for a better web.
              </div>
            </div>
            <div class="col-12 col-md-6">
              <ul
                class="nav nav-footer justify-content-center justify-content-lg-end"
              >
                <li class="nav-item">
                  <a
                    href="https://www.creative-tim.com"
                    class="nav-link text-white"
                    target="_blank"
                    >Creative Tim</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="https://www.creative-tim.com/presentation"
                    class="nav-link text-white"
                    target="_blank"
                    >About Us</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="https://www.creative-tim.com/blog"
                    class="nav-link text-white"
                    target="_blank"
                    >Blog</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="https://www.creative-tim.com/license"
                    class="nav-link pe-0 text-white"
                    target="_blank"
                    >License</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </Header>
</template>

<style scoped>
.page-header {
  background-image: url("../../assets/img/reflora/reflora.png");
  background-position: 0% 40%;
}
</style>
