<script setup>
import logo from "@/assets/img/reflora/reflora2.png";
</script>
<template>
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col mb-4 text-center">
          <h6 class="text-lg">Navegação</h6>
          <RouterLink :to="{ hash: '#secArvoresPlantadas' }" class="nav-link"
            >Árvores plantadas
          </RouterLink>
          <RouterLink :to="{ hash: '#secReflora' }" class="nav-link"
            >ReFlora: o que é?
          </RouterLink>
          <RouterLink :to="'#'" class="nav-link">FAQ </RouterLink>
          <RouterLink :to="'#'" class="nav-link">Termos de uso </RouterLink>
          <RouterLink :to="'#'" class="nav-link"
            >Política de privacidade
          </RouterLink>
        </div>

        <div class="col text-center">
          <h6 class="text-sm">Selos e certificações</h6>
          <ul class="flex-column nav">
            <li>
              <img
                src="https://d2u4gk28rgr5ys.cloudfront.net/assets/icons/selos/lets-encrypt-188edc924987e0c961ceba7d295770752756a433893eb6a5f63cc0040f9a493b.svg"
                loading="lazy"
                alt="Selo lets encrypt"
                class="w-full h-full"
              />
            </li>
            <li>
              <a
                href="https://transparencyreport.google.com/safe-browsing/search?url=reserva.ink&amp;hl=pt-PT"
                target="_blank"
              >
                <img
                  src="https://d2u4gk28rgr5ys.cloudfront.net/assets/icons/selos/google-security-a054f4a5d63e352db1c52360c3ff1d9c9c7b55affe6accf357674096beababb5.svg"
                  loading="lazy"
                  alt="Selo de segurança do google"
                  class="w-full h-full"
                />
              </a>
            </li>
          </ul>
        </div>

        <div class="col text-center">
          <img
            :src="logo"
            class="mb-3"
            style="width: 158px; height: 70px"
            alt="main_logo"
          />
          <p >
            <a
              class="nav-link pe-1"
              href="https://www.instagram.com/eu.atila"
              target="_blank"
            >
              <i class="fab fa-instagram text-lg opacity-8"></i>
            </a>
             <a
              class="nav-link pe-1"
              href="mailto:reflora.org.br@gmail.com"
              target="_blank"
            >
              <i class="fa fa-envelope text-lg opacity-8"></i>
            </a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              Todos os direitos reservados. Copyright ©
              {{ new Date().getFullYear() }}
              <a href="https://github.com/marlof2" target="_blank"
                >Marlo Marques</a
              >.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div
          class="col-md-2 col-sm-6 col-6 mb-4"
          v-for="{ name, items } of menus"
          :key="name"
        >
          <h6 class="text-sm">{{ name }}</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item" v-for="item of items" :key="item.name">
              <a class="nav-link" :href="item.href" target="_blank">
                {{ item.name }}
              </a>
            </li>
          </ul>
        </div>


        <div class="col-md-3 ms-auto">
          <ul class="d-flex flex-row ms-n3 nav">
            <li class="nav-item" v-for="{ icon, link } of socials" :key="link">
              <a
                class="nav-link pe-1"
                :href="link"
                target="_blank"
                v-html="icon"
              >
              </a>
            </li>
          </ul>
        </div>

      </div> -->
    </div>
  </footer>
</template>
<style >
</style>