<template>
  <div
    class="card card-body blur shadow-blur container-xl"
    :style="reponsiveMaps()"
  >
    <h5 class="card-title text-center">Árvores Plantadas</h5>
    <GoogleMap
      :api-key="keyMaps"
      style="width: 100%; height: 50vh"
      :center="center"
      :zoom="7"
    >
      <MarkerCluster>
        <Marker
          v-for="(location, i) in locations"
          :key="i"
          :options="{
            position: location,
            icon: 'https://img.icons8.com/plasticine/30/coniferous-tree.png',
          }"
        >
          <InfoWindow>
            <div id="contet">
              <b><div id="siteNotice">Árvore</div></b>
              <h5 id="firstHeading" class="firstHeading">
                {{ location.name_tree }}
              </h5>
              <div id="bodyContent">
                <b
                  ><div style="margin-bottom: 5px">
                    Identificador: # {{ location.id }}
                  </div></b
                >
                <b
                  ><div>Data da plantação: {{ location.planting_date }}</div></b
                >
              </div>
            </div>
          </InfoWindow>
        </Marker>
      </MarkerCluster>
    </GoogleMap>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import { GoogleMap, Marker, InfoWindow, MarkerCluster } from "vue3-google-map";
import { defineComponent } from "vue";
import BaseLayout from "../../layouts/sections/components/BaseLayout.vue";
import { useWindowsWidth } from "../../assets/js/useWindowsWidth";
const { type } = useWindowsWidth();

export default defineComponent({
  components: { GoogleMap, Marker, BaseLayout, InfoWindow, MarkerCluster },
  setup() {
    const keyMaps = ref(import.meta.env.VITE_KEY_MAPS);
    const center = ref({ lat: -4.832337013295453, lng: -64.90718969389498 });

    const reponsiveMaps = () => {
      if (type.value === "mobile") {
        return "width: 100%; height: 60vh";
      }
    };

    const locations = ref([
      {
        id: "1",
        planting_date: "01/01/2023",
        name_tree: "Gaya 1",
        lat: -4.243410180018824,
        lng: -64.7112407234101,
      },
      {
        id: "2",
        planting_date: "02/01/2023",
        name_tree: "Gaya 2",
        lat: -5.299901202100972,
        lng: -63.530210588205726,
      },
      {
        id: "3",
        planting_date: "03/01/2023",
        name_tree: "Gaya 3",
        lat: -5.524116798215275,
        lng: -65.1287211432963,
      },
      {
        id: "4",
        planting_date: "04/01/2023",
        name_tree: "Gaya 4",
        lat: -5.2014391650233955,
        lng: -66.27129913456379,
      },
      {
        id: "5",
        planting_date: "05/01/2023",
        name_tree: "Gaya 5",
        lat: -4.832337013295453,
        lng: -64.90718969389498,
      },
    ]);

    onMounted(() => {});
    return { center, keyMaps, locations, reponsiveMaps };
  },
});
</script>
