<script setup>
import { onMounted } from "vue";
//material components
import MaterialInput from "@/components/MaterialInput.vue";
import MaterialTextArea from "@/components/MaterialTextArea.vue";
import MaterialButton from "@/components/MaterialButton.vue";

// material-input
import setMaterialInput from "@/assets/js/material-input";

const sendMail = () => {
  alert("Em desenvolvimento");
};
onMounted(() => {
  setMaterialInput();
});
</script>
<template>
  <h4 class="text-center" id="secContato">Contato</h4>
  <div class="container">
    <div class="row">
      <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <div class="card-body">
          <h5 class="pb-5 text-center">
            Entre em contato conosco atravez deste formulario.
          </h5>
          <form id="contact-form" method="post" autocomplete="off">
            <div class="card-body p-0 my-3">
              <div class="row">
                <div class="col-md-6">
                  <MaterialInput
                    class="input-group-static mb-4"
                    type="text"
                    label="Nome completo"
                  />
                </div>
                <div class="col-md-6 ps-md-2">
                  <MaterialInput
                    class="input-group-static mb-4"
                    type="email"
                    label="E-mail"
                  />
                </div>
              </div>
              <div class="form-group mb-0 mt-md-0 mt-4">
                <MaterialTextArea
                  id="message"
                  class="input-group-static mb-4"
                  :rows="3"
                  >Escreva sua menssagem</MaterialTextArea
                >
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <MaterialButton
                    @click="sendMail()"
                    type="button"
                    variant="gradient"
                    color="success"
                    class="mt-3 mb-0"
                    >Enviar</MaterialButton
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5"> -->
      <div class="elfsight-app-6340ec00-0a6f-411c-b534-e96068ad0c5e mt-5"></div>
      <!-- </div> -->
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>