<template>
  <section class="my-5 py-5" id="secONU">
    <div class="text-center">
      <img class="img-fluid" :src="imgOnu" alt="" style="min-width: 40vw" />
    </div>
    <div class="text-center mt-5">
      <a
        style="background-color: rgb(76, 159, 56)"
        tabindex="0"
        class="btn btn-lg"
        role="button"
        data-bs-placement="bottom"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-content="Aguardando"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
          <path
            fill="#4c9f38"
            d="M-1.08-1.08h722.16v722.16H-1.08z"
            id="goal_background"
            data-name="goal background"
          />
          <g id="ENG_text_graphics" data-name="ENG text &amp; graphics">
            <path
              class="cls-2"
              d="M54.61 160.16v-4.76h26.18v4.6c.21 13.42 2.55 19.71 11.21 19.71 8.84 0 10.71-6.8 10.71-19.89 0-13.77-3.23-21.59-15.3-21.93a29.18 29.18 0 00-4.59-.17v-19.21h4.08c12.24 0 15.81-6.29 15.81-20.4 0-11-2.55-17.34-11.22-17.34S81 88.25 80.79 99v6.12H54.61V97.6c0-24.14 13.6-37.74 36.89-37.74 23.46 0 37.06 12.92 37.06 36.89 0 16.15-7.48 27.37-17.34 30.09 10 3.74 17.34 12.92 17.34 32.47 0 25-10 42.5-36.89 42.5-27.54 0-37.06-16.66-37.06-41.65zM187.66 98.94l8.26-1.63c.26 6.24 1.75 10.27 6 10.27 3 0 4.35-2.08 4.35-4.94 0-4.55-2.34-7.08-5.78-10.07l-6.63-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.58-13 9.88 0 12.68 6.63 13.2 14.3l-8.26 1.43c-.19-4.94-.91-8.64-5.13-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.49 5.52 4.29 7.93l6.56 5.78c4.29 3.71 7.87 8.32 7.87 15.28 0 7.6-5.33 12.93-13.2 12.93-9.64.01-14.19-5.59-14.58-16.05zM228.35 61.63h10.27l10.53 52.65h-8.9l-2.08-12.16H229l-2.14 12.16h-9zM237.13 96l-3.58-22.1L230 96zM253.44 97.25V61.63h9.36v36.72c0 5 .59 9.49 5.46 9.49s5.53-4.48 5.53-9.49V61.63h9.29v35.62c0 11-3.05 17.74-14.82 17.74s-14.82-6.69-14.82-17.74zM269.56 45h9l-7.76 13h-5.14zM290.3 61.63h12.41c12.81 0 16.71 5.13 16.71 16.38v19.17c0 11.57-4 17.1-16.32 17.1h-12.8zm12.54 45.95c6.57 0 6.83-3.51 6.83-10.07V77.36c0-6.31-.65-8.91-7-8.91h-2.86v39.13zM326.18 61.63h22.1v6.76h-12.55v15.14h9.88v6.7h-9.88v17.48h12.68v6.57h-22.23zM369.14 61.63h22.1v6.76H378.7v15.14h9.88v6.7h-9.88v17.48h12.67v6.57h-22.23zM189 147.63h13c9.23 0 15.41 3.12 15.41 13.52 0 6.43-2.67 10-7.61 10.79 6.18 1.17 9.1 5.59 9.1 13 0 10.07-4.94 15.34-14.69 15.34H189zm12.87 21.51c5.72 0 7.22-2.53 7.22-7.86 0-5.59-2.73-7-8.58-7h-1.95v14.82zm.39 24.38c5.85 0 7.48-2.73 7.48-8.65 0-6.24-2.08-9.1-7.8-9.1h-3.38v17.75zM224.84 147.63h22.1v6.76H234.4v15.14h9.88v6.7h-9.88v17.48h12.67v6.57h-22.23zM253.12 147.63h9.94l7.48 36.46 7.73-36.46H288l1 52.65h-7.15l-.78-36.6-7.47 36.6h-5.79l-7.6-36.73-.72 36.73h-7.21zM296.15 176h15.66v6h-15.66zM319.16 147.63h22.1v6.76h-12.55v15.14h9.88v6.7h-9.88v17.48h12.68v6.57h-22.23zM345.35 184.94l8.26-1.63c.26 6.24 1.75 10.27 6 10.27 3.05 0 4.35-2.08 4.35-4.94 0-4.55-2.34-7.08-5.78-10.07l-6.63-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.58-13 9.88 0 12.68 6.63 13.2 14.3l-8.26 1.43c-.19-4.94-.91-8.64-5.13-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.49 5.52 4.29 7.93l6.56 5.78c4.29 3.71 7.87 8.32 7.87 15.28 0 7.6-5.33 12.93-13.2 12.93-9.64.01-14.19-5.59-14.58-16.05zM383.7 154.71h-8.38v-7.08h26.19v7.08h-8.19v45.57h-9.62zM412.56 147.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zm8.78 34.37l-3.58-22.1-3.57 22.1zM438.3 147.63H451c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.34 25.94h-9.62l-6.3-24.12h-4.55v24.12h-9.58zm12.61 22.55c5.53 0 7.54-2.4 7.54-8.06 0-5.33-1.49-7.93-7-7.93h-3.57v16zM603.67 450.66c0-20.41-13.1-37-32.94-37-9.92 0-21.89 10.86-28.38 17.54-6.5-6.69-17.68-17.56-27.6-17.56-19.84 0-33.74 16.55-33.74 37a37.36 37.36 0 0010.53 26.14l50.85 50.95 50.78-50.89a37.39 37.39 0 0010.5-26.18z"
            />
            <path
              class="cls-2"
              d="M387.15 610.91h-.51a8.36 8.36 0 01-7.72-6.93l-25.83-150.45L314 526.08a8.35 8.35 0 01-15.61-2.78l-16.65-116.1-30.4 68.26a8.35 8.35 0 01-7.63 5H125.59a8.35 8.35 0 110-16.7h112.7l40-89.79a8.35 8.35 0 0115.89 2.22l17.13 119.71 38.59-71.54a8.35 8.35 0 0115.58 2.55l23.92 139.33 87.18-289.6a8.35 8.35 0 0115.52-1.22l45.9 95.05a8.35 8.35 0 11-15.05 7.25L486.37 302l-91.22 303a8.36 8.36 0 01-8 5.91z"
            />
          </g>
        </svg>
      </a>

      <a
        style="background-color: rgb(253, 105, 37); margin-left: 5px"
        tabindex="0"
        class="btn btn-lg"
        role="button"
        data-bs-placement="bottom"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-content="Aguardando"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
          <path
            fill="#fd6925"
            d="M-1.08-1.08h722.16v722.16H-1.08z"
            id="goal_background"
            data-name="goal background"
          />
          <g id="ENG_text_graphics" data-name="ENG text &amp; graphics">
            <path
              class="cls-2"
              d="M57.16 166.11v-2H82c0 11.56 1.36 17.17 10 17.17 8.33 0 10.2-6.63 10.2-27.88v-13.98c-2.89 4.93-9.35 7.82-17.34 8-22.27.34-29.92-18.19-29.92-41C55 78.56 65 60 92 60c26.18 0 37.06 17.85 37.06 44v50.15c0 26.86-7.65 47.09-37.23 47.09-25.32.06-34.67-12.35-34.67-35.13zm45.05-45.05V99.13c0-10.37-1.7-19.55-10.2-19.55-8.67 0-10.2 8.84-10.2 23.8 0 14.11.17 24 10.37 24 5.27-.03 8.33-3.38 10.03-6.32zM160.2 60.68h9.49v52.65h-9.49zM174.44 60.68h6.69l12.81 30v-30h7.93v52.65h-6.37l-12.87-31.46v31.46h-8.19zM206.48 60.68h12.42c12.8 0 16.7 5.14 16.7 16.38v19.18c0 11.57-4 17.09-16.31 17.09h-12.81zm12.55 46c6.56 0 6.82-3.51 6.82-10.08V76.41c0-6.3-.65-8.9-6.95-8.9H216v39.13zM238.92 96.3V60.68h9.36v36.73c0 5 .58 9.49 5.46 9.49s5.52-4.49 5.52-9.49V60.68h9.3V96.3c0 11-3.06 17.75-14.82 17.75s-14.82-6.7-14.82-17.75zM255 44h9l-7.74 13h-5.13zM271.42 98l8.25-1.62c.26 6.24 1.76 10.27 6 10.27 3.06 0 4.36-2.08 4.36-4.94 0-4.55-2.34-7.09-5.79-10.08l-6.63-5.78c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.59-13 9.88 0 12.67 6.63 13.19 14.3L290 75.83c-.2-4.94-.91-8.65-5.14-8.65-2.86 0-4.42 2.15-4.42 4.94 0 3.58 1.5 5.53 4.29 7.93l6.57 5.79c4.29 3.7 7.86 8.32 7.86 15.27 0 7.61-5.33 12.94-13.19 12.94-9.61 0-14.16-5.59-14.55-16.05zM306.71 67.77h-8.39v-7.09h26.2v7.09h-8.19v45.56h-9.62zM326 60.68h12.67c10.53 0 16.51 3.38 16.51 14 0 6.3-1.56 10.72-6.5 12.74l7.32 25.91h-9.62l-6.31-24.11h-4.57v24.11H326zm12.61 22.56c5.52 0 7.54-2.41 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.65v16zM359.29 60.68h9.49v52.65h-9.49zM381.39 60.68h10.27l10.53 52.65h-8.9l-2.08-12.15H382l-2.14 12.15h-9zm8.78 34.39L386.59 73 383 95.07zM403.3 118.92a5.39 5.39 0 004.22-5.59h-4.68v-8.77h8.65v8c0 5.59-2.41 8.65-7.28 9.56zM427.22 60.68h9.49v52.65h-9.49zM441.45 60.68h6.7l12.8 30v-30h7.93v52.65h-6.37l-12.87-31.46v31.46h-8.19zM472.65 96.82V77.06c0-10.66 3.9-17 15.21-17S503 66.4 503 77.06v19.76c0 10.6-3.9 17.23-15.15 17.23s-15.2-6.57-15.2-17.23zm20.61 2.28V74.85c0-4.42-.72-7.73-5.4-7.73s-5.46 3.31-5.46 7.73V99.1c0 4.35.72 7.86 5.46 7.86s5.4-3.51 5.4-7.86zM504 60.68h8.45l7 37.25L526 60.68h8.65L524 113.33h-9.42zM542.52 60.68h10.28l10.53 52.65h-8.91l-2.08-12.15h-9.17L541 113.33h-9zm8.78 34.39L547.73 73l-3.58 22.1zM584.06 79.66v-4.55c0-4.42-.06-8-4.94-8s-5.39 3.77-5.39 8.58v22.82c0 5.72 1.17 8.45 5.39 8.45 4.75 0 4.94-3.7 4.94-8.38v-4.75h9.23v4.23c0 8.9-2.86 15.47-12.93 16v3.25c4.81 0 8.06 2.14 8.06 6.17 0 4.62-4.1 6.57-8.84 6.57a16.52 16.52 0 01-4.68-.72v-4.09a11.83 11.83 0 003.51.52c2.27 0 4-.65 4-2.41 0-2.34-2.66-3.18-5.72-3.51v-5.91C567 112.94 564 106 564 96.5V77.71c0-10.79 3.44-17.61 15-17.61 10.79 0 14.23 6 14.23 15.14v4.42zM604.47 60.68h10.27l10.53 52.65h-8.9l-2.08-12.15h-9.17L603 113.33h-9zm2-9.94c-1.69 0-2.27 1-2.27 2.66h-4.55c0-4.68 1.3-8.19 5.52-8.19 3.19 0 5.33 3 8.13 3 1.5 0 2.08-.91 2.08-2.6h4.29c0 4.1-.71 8.19-4.94 8.19-3.37-.01-5.58-3.06-8.25-3.06zm6.77 44.33L609.67 73l-3.58 22.1zM625.79 96.82V77.06c0-10.66 3.9-17 15.21-17s15.14 6.3 15.14 17v19.76c0 10.6-3.9 17.23-15.14 17.23s-15.21-6.57-15.21-17.23zm20.6 2.28V74.85c0-4.42-.71-7.73-5.39-7.73s-5.46 3.31-5.46 7.73V99.1c0 4.35.71 7.86 5.46 7.86s5.39-3.51 5.39-7.86zM159.94 146.68H182v6.76h-12.5v15.15h9.88v6.69h-9.88v17.49h12.67v6.56h-22.23zM197.06 146.68h9.49v52.65h-9.49zM211.29 146.68H218l12.8 30v-30h7.93v52.65h-6.37l-12.87-31.46v31.46h-8.19zM243.34 146.68H265v6.63h-12.11v15.34h9.88v6.7h-9.88v24h-9.55zM266.8 146.68h12.68c10.53 0 16.51 3.38 16.51 14 0 6.3-1.56 10.72-6.5 12.74l7.34 25.93h-9.62l-6.3-24.11h-4.55v24.11h-9.56zm12.61 22.56c5.53 0 7.54-2.41 7.54-8.06 0-5.33-1.49-7.93-7-7.93h-3.57v16zM307.75 146.68H318l10.53 52.65h-8.9l-2.08-12.15h-9.15l-2.15 12.15h-9zm8.78 34.39L313 159l-3.57 22.1zM330.43 146.68h22.1v6.76H340v15.15h9.88v6.69H340v17.49h12.67v6.56h-22.24zM353.57 184l8.26-1.62c.26 6.24 1.75 10.27 6 10.27 3.05 0 4.35-2.08 4.35-4.94 0-4.55-2.34-7.09-5.78-10.08l-6.63-5.78c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.58-13 9.88 0 12.68 6.63 13.2 14.3l-8.26 1.43c-.19-4.94-.91-8.65-5.13-8.65-2.86 0-4.42 2.15-4.42 4.94 0 3.58 1.49 5.53 4.29 7.93l6.56 5.79c4.29 3.7 7.87 8.32 7.87 15.27 0 7.61-5.33 12.94-13.2 12.94-9.64-.01-14.15-5.6-14.58-16.06zM388.87 153.77h-8.39v-7.09h26.2v7.09h-8.19v45.56h-9.62zM408.11 146.68h12.67c10.53 0 16.51 3.38 16.51 14 0 6.3-1.56 10.72-6.5 12.74l7.35 25.93h-9.62l-6.31-24.11h-4.55v24.11h-9.55zm12.61 22.56c5.52 0 7.54-2.41 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM440.61 182.3v-35.62H450v36.73c0 5 .58 9.49 5.46 9.49s5.52-4.49 5.52-9.49v-36.73h9.3v35.62c0 11-3.06 17.75-14.82 17.75s-14.85-6.7-14.85-17.75zM479.67 153.77h-8.38v-7.09h26.19v7.09h-8.19v45.56h-9.62zM498.52 182.3v-35.62h9.36v36.73c0 5 .59 9.49 5.46 9.49s5.53-4.49 5.53-9.49v-36.73h9.29v35.62c0 11-3 17.75-14.82 17.75s-14.82-6.7-14.82-17.75zM532.32 146.68H545c10.53 0 16.51 3.38 16.51 14 0 6.3-1.56 10.72-6.5 12.74l7.34 25.93h-9.62l-6.3-24.11h-4.55v24.11h-9.56zm12.61 22.56c5.53 0 7.54-2.41 7.54-8.06 0-5.33-1.49-7.93-7-7.93h-3.57v16zM573.27 146.68h10.27l10.53 52.65h-8.9l-2.08-12.15h-9.17l-2.15 12.15h-9zm8.73 34.39L578.47 159l-3.58 22.1zM545.32 474.1l-86.24-49.77v-99.57a5.88 5.88 0 00-2.94-5.1L367 268.18a5.88 5.88 0 00-5.88 0l-89.17 51.48a5.86 5.86 0 00-2.94 5.1v99.57l-86.25 49.77a5.85 5.85 0 00-2.94 5.09v103a5.86 5.86 0 002.94 5.1l89.17 51.47a5.87 5.87 0 005.88 0L364 589l86.22 49.77a5.92 5.92 0 002.94.79 5.82 5.82 0 002.94-.79l89.18-51.47a5.86 5.86 0 002.94-5.1v-103a5.85 5.85 0 00-2.9-5.1zM358.16 572l-71.53-41.29 71.53-41.3zm83.27-144.25L369.92 469v-82.57zM358.16 469l-71.52-41.28 71.52-41.3zm17.65 10.19l77.39-44.68 77.41 44.67-77.41 44.7zm71.51-61.67l-71.51-41.29L447.32 335zm-95.05-41.29l-71.52 41.3V335zM269 623.46l-77.41-44.68v-89.39L269 534.08zm11.76 0v-82.58l71.52 41.29zm255.74-44.68l-77.42 44.68v-89.38l77.42-44.69z"
            />
          </g>
        </svg>
      </a>
      <a
        style="background-color: rgb(191, 139, 46); margin-left: 5px"
        tabindex="0"
        class="btn btn-lg"
        role="button"
        data-bs-placement="bottom"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-content="Aguardando"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
          <path
            fill="#bf8b2e"
            d="M-1.08-1.08h722.16v722.16H-1.08z"
            id="goal_background"
            data-name="goal background"
          />
          <g id="ENG_text_graphics" data-name="ENG text &amp; graphics">
            <path
              class="cls-2"
              d="M49.12 88.93c-4.12 2.21-15.81 5.44-19.89 7.48V76.86c5.44-2.21 20.57-9.52 25.67-15.13h20.57v137.7H49.12zM78.36 180.9l33.49-51.51c7.31-11.39 14.62-20.91 14.62-33.66 0-8.84-3.4-13.6-10-13.6-10 0-12.41 9.18-12.41 20.4v6.29h-25.7V102c0-24.31 10.54-42 37.57-42 24.14 0 36.55 13.43 36.55 36.21 0 16.83-8.67 28.56-18 42.67l-26.52 39.78h40.8v20.74h-70.4zM227.89 97.44V78.66c0-10.79 3.44-17.62 15-17.62 10.79 0 14.24 6 14.24 15.15v4.42h-9.23v-4.55c0-4.42-.07-8-4.94-8s-5.4 3.77-5.4 8.58v22.82c0 5.72 1.17 8.45 5.4 8.45 4.74 0 4.94-3.71 4.94-8.39v-4.74h9.23V99c0 9.3-3.12 16-14.24 16-11.56 0-15-7.29-15-17.56zM261 97.77V78c0-10.66 3.9-17 15.21-17s15.14 6.31 15.14 17v19.77c0 10.59-3.9 17.22-15.14 17.22S261 108.43 261 97.77zm20.6 2.27V75.8c0-4.42-.71-7.74-5.39-7.74s-5.46 3.32-5.46 7.74V100c0 4.36.71 7.87 5.46 7.87s5.43-3.47 5.43-7.87zM296.52 61.63h6.7l12.81 30v-30H324v52.65h-6.37l-12.91-31.46v31.46h-8.2zM328.7 98.94l8.3-1.63c.27 6.24 1.76 10.27 6 10.27 3.06 0 4.36-2.08 4.36-4.94 0-4.55-2.34-7.08-5.78-10.07l-6.64-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.59-13 9.88 0 12.68 6.63 13.2 14.3l-8.26 1.43c-.19-4.94-.91-8.64-5.14-8.64-2.85 0-4.42 2.14-4.42 4.94 0 3.57 1.5 5.52 4.29 7.93l6.57 5.78c4.29 3.71 7.87 8.32 7.87 15.28 0 7.6-5.33 12.93-13.2 12.93-9.69.01-14.24-5.59-14.63-16.05zM359.77 97.25V61.63h9.36v36.72c0 5 .58 9.49 5.46 9.49s5.52-4.48 5.52-9.49V61.63h9.3v35.62c0 11-3.06 17.74-14.82 17.74s-14.82-6.69-14.82-17.74zM395.78 61.63h9.94l7.48 36.46 7.73-36.46h9.69l1 52.65h-7.16l-.78-36.6-7.47 36.6h-5.81l-7.6-36.73-.72 36.73h-7.21zM436.6 97.77V78c0-10.66 3.9-17 15.21-17S467 67.35 467 78v19.77c0 10.59-3.9 17.22-15.14 17.22s-15.26-6.56-15.26-17.22zm20.6 2.23V75.8c0-4.42-.71-7.74-5.39-7.74s-5.46 3.32-5.46 7.74V100c0 4.36.71 7.87 5.46 7.87s5.39-3.47 5.39-7.87zM485.93 61.63H508v6.76h-12.51v15.14h9.88v6.7h-9.88v17.48h12.67v6.57h-22.23zM228.73 147.63h15.47c9.43 0 13.46 5.46 13.46 15 0 10.33-5.59 14.3-14.11 14.3h-5.26v23.4h-9.56zM242 170.12c5.27 0 6.63-2 6.63-7.61s-.71-8.12-6.63-8.12h-3.7v15.73zM261 147.63h12.67c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12H261zm12.61 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM294.44 183.77V164c0-10.66 3.91-17 15.22-17s15.14 6.31 15.14 17v19.76c0 10.59-3.9 17.22-15.14 17.22s-15.22-6.55-15.22-17.21zm20.61 2.23v-24.2c0-4.42-.71-7.74-5.39-7.74s-5.46 3.32-5.46 7.74V186c0 4.36.71 7.87 5.46 7.87s5.39-3.47 5.39-7.87zM329.93 147.63h12.42c12.8 0 16.71 5.13 16.71 16.38v19.17c0 11.57-4 17.1-16.32 17.1h-12.81zm12.55 46c6.56 0 6.83-3.51 6.83-10.07v-20.2c0-6.31-.66-8.91-7-8.91h-2.86v39.13zM363.8 183.25v-35.62h9.36v36.72c0 5 .58 9.49 5.46 9.49s5.52-4.48 5.52-9.49v-36.72h9.3v35.62c0 11.05-3.06 17.74-14.82 17.74s-14.82-6.69-14.82-17.74zM418.2 166.61v-4.55c0-4.42-.06-8-4.94-8s-5.39 3.77-5.39 8.58v22.82c0 5.72 1.17 8.45 5.39 8.45 4.75 0 4.94-3.71 4.94-8.39v-4.74h9.23V185c0 8.91-2.86 15.47-12.93 16v3.25c4.81 0 8.06 2.15 8.06 6.18 0 4.61-4.1 6.56-8.84 6.56a16.87 16.87 0 01-4.68-.71v-4.1a11.51 11.51 0 003.51.52c2.27 0 4-.65 4-2.4 0-2.34-2.66-3.19-5.72-3.51v-5.92c-9.62-1-12.61-7.93-12.61-17.42v-18.79c0-10.79 3.45-17.62 15-17.62 10.79 0 14.23 6 14.23 15.15v4.42zM440 147.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zm2-9.95c-1.69 0-2.28 1-2.28 2.67h-4.55c0-4.68 1.3-8.19 5.53-8.19 3.18 0 5.33 3 8.12 3 1.5 0 2.08-.91 2.08-2.6h4.29c0 4.09-.71 8.19-4.94 8.19-3.32-.01-5.53-3.07-8.19-3.07zm6.82 44.32l-3.58-22.1-3.57 22.1zM462.79 183.77V164c0-10.66 3.9-17 15.21-17s15.15 6.31 15.15 17v19.76c0 10.59-3.9 17.22-15.15 17.22s-15.21-6.55-15.21-17.21zM483.4 186v-24.2c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V186c0 4.36.72 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM228.73 233.63h12.68c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.34 25.94h-9.62l-6.3-24.12h-4.55v24.12h-9.56zm12.61 22.55c5.53 0 7.54-2.4 7.54-8.06 0-5.33-1.49-7.93-7-7.93h-3.57v16zM263.25 233.63h22.1v6.76H272.8v15.14h9.88v6.7h-9.88v17.48h12.68v6.57h-22.23zM287.81 270.94l8.26-1.63c.26 6.24 1.75 10.27 6 10.27 3.05 0 4.36-2.08 4.36-4.94 0-4.55-2.35-7.08-5.79-10.07l-6.64-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.59-13 9.88 0 12.67 6.63 13.19 14.3l-8.25 1.43c-.2-4.94-.91-8.64-5.14-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.5 5.52 4.29 7.93l6.57 5.78c4.29 3.71 7.86 8.32 7.86 15.28 0 7.6-5.33 12.93-13.19 12.93-9.63.01-14.19-5.59-14.58-16.05zM319.27 233.63h15.47c9.43 0 13.46 5.46 13.46 15 0 10.33-5.59 14.3-14.11 14.3h-5.26v23.4h-9.56zm13.26 22.49c5.27 0 6.63-2 6.63-7.61s-.71-8.12-6.63-8.12h-3.7v15.73zM350.73 269.77V250c0-10.66 3.9-17 15.21-17s15.15 6.31 15.15 17v19.76c0 10.59-3.9 17.22-15.15 17.22s-15.21-6.55-15.21-17.21zm20.61 2.23v-24.2c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V272c0 4.36.72 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM386.22 233.63h6.7l12.8 30v-30h7.93v52.65h-6.37l-12.87-31.46v31.46h-8.19zM418.4 270.94l8.25-1.63c.26 6.24 1.76 10.27 6 10.27 3.06 0 4.36-2.08 4.36-4.94 0-4.55-2.34-7.08-5.79-10.07l-6.63-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.59-13 9.88 0 12.67 6.63 13.19 14.3l-8.26 1.43c-.2-4.94-.91-8.64-5.14-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.5 5.52 4.29 7.93l6.57 5.78c4.29 3.71 7.86 8.32 7.86 15.28 0 7.6-5.33 12.93-13.19 12.93-9.63.01-14.18-5.59-14.57-16.05zM457.46 233.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17L456 286.28h-9zm8.78 34.37l-3.58-22.1-3.57 22.1zm-2.34-51h9l-7.74 13H460zM477.16 233.63h8.45l6.95 37.24 6.57-37.24h8.64l-10.59 52.65h-9.43zM511.22 233.63h22.1v6.76h-12.55v15.14h9.88v6.7h-9.88v17.48h12.68v6.57h-22.23zM537.35 233.63h9.49v52.65h-9.49zM551.71 270.94l8.26-1.63c.26 6.24 1.75 10.27 6 10.27 3 0 4.35-2.08 4.35-4.94 0-4.55-2.34-7.08-5.78-10.07l-6.63-5.79c-3.78-3.25-6.12-6.89-6.12-12.74 0-8.32 5.21-13 13.59-13 9.88 0 12.68 6.63 13.2 14.3l-8.26 1.43c-.19-4.94-.91-8.64-5.13-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.49 5.52 4.29 7.93l6.56 5.78c4.29 3.71 7.87 8.32 7.87 15.28 0 7.6-5.33 12.93-13.2 12.93-9.64.01-14.19-5.59-14.58-16.05zM544.11 373.67c-32-25.3-74.49-25.82-90-22.12l-1.8.42c-17.95 4.24-46.47 11.25-79.85 52.68-.19.23-.38.46-.56.7l-.42.51a2.77 2.77 0 00-.56 1.61 2.88 2.88 0 00.36 1.39l.78 1.28c4.19 7 9.47 16 13.94 24.34a1.92 1.92 0 01.12.25 2.88 2.88 0 002.55 1.57 2.82 2.82 0 002-.8c.21-.27.42-.56.61-.85 29.63-41 52.92-46.63 68.68-50.34l1.89-.44c8.18-2 39.28-1.85 61.73 15.88C541.1 413.58 550 435.59 550 465.16c0 49.61-24.13 69-44.38 76.56-31.36 11.73-61.44-4-61.66-4.07l-1.35-.65c-17.23-7.48-42.94-23-67.18-71.72-48.91-98.09-89.76-107.28-116.79-113.45l-1.45-.32c-12.31-2.79-55.06-4.77-88.66 22.05-17.56 14-38.47 41.24-38.47 91.41 0 30.56 6.28 50.75 22.42 72 3.54 4.84 39.71 51.31 109.64 37.9 11.19-2.14 26.36-7.48 43-20l15.39 13.88a2.53 2.53 0 003.53-.17 2.37 2.37 0 00.62-1.67v-.21l11.1-68.3v-.76a2.49 2.49 0 00-.82-1.82 2.32 2.32 0 00-1.63-.61h-.48l-.72.08-65.42 18.31-1.19.2a2.2 2.2 0 00-1.25.73 2.48 2.48 0 00.18 3.54l.77.71 14.66 13.24c-9.47 6.13-17.72 8.94-24 10.16-50.6 9.65-75.58-23.48-76.53-24.78l-.33-.4c-11.76-15.43-15.73-28.55-15.73-52 0-29.66 8.74-51.69 26-65.45 21.88-17.46 52.06-17.56 60.58-15.62l1.47.33c22.15 5 52.51 11.88 94.31 95.86 21.72 43.6 48.91 72.11 83.14 87.14a120.9 120.9 0 0052.11 12.08 103.71 103.71 0 0036.3-6.44c19.84-7.4 66-32.7 66-107.71 0-50.13-21.23-77.42-39-91.49"
            />
          </g>
        </svg>
      </a>
      <a
        style="background-color: rgb(63, 126, 68); margin-left: 5px"
        tabindex="0"
        class="btn btn-lg"
        role="button"
        data-bs-placement="bottom"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-content="Aguardando"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
          <path
            transform="rotate(-90 359.51 360)"
            fill="#3f7e44"
            d="M-.59-.59h721.18v721.18H-.59z"
            id="goal_background"
            data-name="goal background"
          />
          <g id="ENG_text_graphics" data-name="ENG text &amp; graphics">
            <path
              class="cls-2"
              d="M51.12 88.93c-4.12 2.21-15.81 5.44-19.89 7.48V76.86c5.44-2.21 20.57-9.52 25.67-15.13h20.57v137.7H51.12zM79.85 160.16v-4.76H106v4.6c.17 13.43 2.55 19.72 11.22 19.72 8.84 0 10.71-6.8 10.71-19.89 0-13.77-3.23-21.59-15.3-21.93a29.18 29.18 0 00-4.59-.17v-19.22h4.08c12.24 0 15.81-6.29 15.81-20.4 0-11-2.55-17.34-11.22-17.34S106.2 88.25 106 99v6.12H79.85V97.6c0-24.14 13.6-37.74 36.89-37.74 23.46 0 37.06 12.92 37.06 36.89 0 16.15-7.48 27.37-17.34 30.09 10 3.74 17.34 12.92 17.34 32.47 0 25-10 42.5-36.89 42.5-27.54 0-37.06-16.66-37.06-41.65zM239.6 61.63h10.27l10.53 52.65h-8.91l-2.08-12.16h-9.16l-2.15 12.16h-9zM248.37 96l-3.57-22.1-3.58 22.1zM282.56 80.61v-4.55c0-4.42-.06-8-4.94-8s-5.39 3.77-5.39 8.58v22.82c0 5.72 1.17 8.45 5.39 8.45 4.75 0 4.94-3.71 4.94-8.39v-4.74h9.23V99c0 8.91-2.86 15.47-12.93 16v3.25c4.81 0 8.06 2.15 8.06 6.18 0 4.61-4.1 6.56-8.84 6.56a16.87 16.87 0 01-4.68-.71v-4.1a11.51 11.51 0 003.51.52c2.27 0 4-.65 4-2.4 0-2.34-2.66-3.19-5.72-3.51v-5.92c-9.62-1-12.61-7.93-12.61-17.42V78.66c0-10.79 3.45-17.62 15-17.62 10.79 0 14.23 6 14.23 15.15v4.42zM304.4 61.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zm2-10c-1.69 0-2.28 1-2.28 2.67h-4.55c0-4.68 1.3-8.19 5.53-8.19 3.18 0 5.33 3 8.12 3 1.5 0 2.08-.91 2.08-2.6h4.29c0 4.09-.71 8.19-4.94 8.19-3.36.04-5.57-3.02-8.23-3.02zM313.18 96l-3.58-22.1L306 96zM327.15 97.77V78c0-10.66 3.9-17 15.21-17s15.15 6.31 15.15 17v19.77c0 10.59-3.9 17.22-15.15 17.22s-15.21-6.56-15.21-17.22zm20.61 2.23V75.8c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V100c0 4.36.72 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM375.64 97.44V78.66c0-10.79 3.44-17.62 15-17.62 10.8 0 14.24 6 14.24 15.15v4.42h-9.23v-4.55c0-4.42-.07-8-4.94-8s-5.4 3.77-5.4 8.58v22.82c0 5.72 1.17 8.45 5.4 8.45 4.74 0 4.94-3.71 4.94-8.39v-4.74h9.23V99c0 9.3-3.12 16-14.24 16-11.56 0-15-7.29-15-17.56zM408.79 97.77V78c0-10.66 3.9-17 15.21-17s15.14 6.31 15.14 17v19.77c0 10.59-3.9 17.22-15.14 17.22s-15.21-6.56-15.21-17.22zm20.6 2.27V75.8c0-4.42-.71-7.74-5.39-7.74s-5.46 3.32-5.46 7.74V100c0 4.36.71 7.87 5.46 7.87s5.39-3.47 5.39-7.87zM444.28 61.63H451l12.81 30v-30h7.93v52.65h-6.37l-12.9-31.46v31.46h-8.19zM483 68.71h-8.39v-7.08h26.2v7.08h-8.19v45.57H483zM503.69 61.63h12.67c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12h-9.55zm12.61 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM546.07 61.63h10.27l10.53 52.65H558l-2.08-12.16h-9.16l-2.15 12.16h-9zM554.84 96l-3.57-22.1-3.58 22.1zM591.89 61.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zM600.67 96l-3.58-22.1-3.57 22.1zM232.51 147.63h10l7.47 36.46 7.74-36.46h9.68l1 52.65h-7.15l-.78-36.6-7.48 36.6h-5.78l-7.61-36.73-.71 36.73h-7.29zM273.79 183.25v-35.62h9.36v36.72c0 5 .58 9.49 5.46 9.49s5.52-4.48 5.52-9.49v-36.72h9.3v35.62c0 11.05-3.06 17.74-14.82 17.74s-14.82-6.69-14.82-17.74zM309 147.63h12.41c12.81 0 16.71 5.13 16.71 16.38v19.17c0 11.57-4 17.1-16.32 17.1H309zm12.54 46c6.57 0 6.83-3.51 6.83-10.07v-20.2c0-6.31-.65-8.91-7-8.91h-2.86v39.13zM350.75 147.63H361l10.53 52.65h-8.91l-2.08-12.16h-9.14l-2.15 12.16h-9zm8.77 34.37L356 159.91 352.37 182zM374.86 147.63h6.7l12.8 30v-30h7.93v52.65h-6.37l-12.87-31.46v31.46h-8.19zM427.51 166.61v-4.55c0-4.42-.06-8-4.94-8s-5.39 3.77-5.39 8.58v22.82c0 5.72 1.17 8.45 5.39 8.45 4.75 0 4.94-3.71 4.94-8.39v-4.74h9.23V185c0 8.91-2.86 15.47-12.93 16v3.25c4.81 0 8.06 2.15 8.06 6.18 0 4.61-4.1 6.56-8.84 6.56a16.87 16.87 0 01-4.68-.71v-4.1a11.51 11.51 0 003.51.52c2.27 0 4-.65 4-2.4 0-2.34-2.66-3.19-5.72-3.51v-5.92c-9.62-1-12.61-7.93-12.61-17.42v-18.79c0-10.79 3.45-17.62 15-17.62 10.79 0 14.23 6 14.23 15.15v4.42zM449.35 147.63h10.27l10.53 52.65h-8.9l-2.08-12.16H450l-2.15 12.16h-9zm8.77 34.37l-3.57-22.1L451 182zM486.46 182.92v-17.68c0-11.31 3.45-18.2 15-18.2 10.79 0 14.56 5.59 14.56 15.34v2.73h-9.17v-3c0-5.07-.52-8.06-5.26-8.06-5.07 0-5.46 4.1-5.46 8.91v22c0 5.46 1 8.91 5.72 8.91s5.78-3.64 5.78-9.36v-4.94H502v-6.05h14.3v26.72h-6.24l-.65-5.14c-1.43 3.38-4 5.85-8.91 5.85-10.4.05-14.04-6.95-14.04-18.03zM521.69 147.63h9.56v46.08h12.8v6.57h-22.36zM545.61 183.77V164c0-10.66 3.9-17 15.21-17S576 153.35 576 164v19.76c0 10.59-3.9 17.22-15.15 17.22s-15.24-6.55-15.24-17.21zm20.61 2.23v-24.2c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V186c0 4.36.72 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM581.1 147.63h13c9.23 0 15.41 3.12 15.41 13.52 0 6.43-2.67 10-7.61 10.79 6.18 1.17 9.1 5.59 9.1 13 0 10.07-4.94 15.34-14.69 15.34H581.1zm12.9 21.51c5.72 0 7.22-2.53 7.22-7.86 0-5.59-2.73-7-8.58-7h-2v14.82zm.39 24.38c5.85 0 7.48-2.73 7.48-8.65 0-6.24-2.08-9.1-7.8-9.1h-3.38v17.75zM623.16 147.63h10.27L644 200.28h-8.91L633 188.12h-9.16l-2.15 12.16h-9zm8.77 34.37l-3.57-22.1-3.58 22.1zM647.27 147.63h9.56v46.08h12.8v6.57h-22.36zM231.73 233.63h12.42c12.8 0 16.7 5.13 16.7 16.38v19.17c0 11.57-4 17.1-16.31 17.1h-12.81zm12.55 45.95c6.56 0 6.82-3.51 6.82-10.07v-20.15c0-6.31-.65-8.91-6.95-8.91h-2.86v39.13zM265.14 269.77V250c0-10.66 3.9-17 15.21-17s15.15 6.31 15.15 17v19.76c0 10.59-3.9 17.22-15.15 17.22s-15.21-6.55-15.21-17.21zm20.61 2.23v-24.2c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V272c0 4.36.72 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM313.63 269.44v-18.78c0-10.79 3.45-17.62 15-17.62 10.79 0 14.23 6 14.23 15.15v4.42h-9.23v-4.55c0-4.42-.06-8-4.94-8s-5.39 3.77-5.39 8.58v22.82c0 5.72 1.17 8.45 5.39 8.45 4.75 0 4.94-3.71 4.94-8.39v-4.74h9.23V271c0 9.3-3.12 16-14.23 16-11.55 0-15-7.29-15-17.56zM347.62 233.63h9.56v46.08H370v6.57h-22.38zM373.3 233.63h9.49v52.65h-9.49zM389.74 233.63h9.95l7.47 36.46 7.74-36.46h9.68l1 52.65h-7.15l-.78-36.6-7.48 36.6h-5.78l-7.61-36.73-.71 36.73h-7.22zM439.27 233.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zm8.78 34.37l-3.58-22.1-3.57 22.1zM631.58 466.81C612.5 440 526.19 332.82 365.48 332.6S118.16 439.3 99 466.09q-1.23 1.71-2.1 3c.58.87 1.27 1.86 2.09 3 19.1 26.82 105.39 134 266.13 134.2s247.3-106.72 266.45-133.49c.84-1.16 1.53-2.14 2.08-3-.55-.84-1.24-1.83-2.07-3m-355.85-66.64c1.45-2.12 6.27-8.18 6.86-9 1.24-1.59 3.7-1.91 5.42-2.22s4 .64 4.25 1.92-.66 6.26-1.51 7.12c-2.36 2.44-8.5 5.88-11.88 5.34-2.61-.41-3.64-2.44-3.14-3.21M270 411.57c.25-.3.48-.55.58-.67 2-2.3 6.05-2.79 8.83-3.22s6.5.93 6.95 2.79-7 5.21-8.36 6.47c-3.87 3.56-9.94 10.81-13.48 11.58a4.21 4.21 0 01-2.89-.3 111.27 111.27 0 018.37-16.65m60 123.48c-2.19 8.56-4.73 11.64-6.9 14.33s-10.19 6.2-15.28 5.82-5.78-14-5.77-21c0-2.42-3.42 4.74-5.19-9.81-1.12-9.32-7.12 1-7.53-5.25s-3.4-5-6.54-8.85-7 .37-11.39 2.32-2.56 3-8.73 1c-.16 0-.24-.09-.39-.15a111.55 111.55 0 01-8.74-43.59c0-3.78.21-7.49.57-11.17a7 7 0 01.69-1c5.94-7 5.81-8.64 5.81-8.64l6.55-2.26a110 110 0 0118.33 4.6c6.49 2.45 16.71 8 22.65 5.55 4.3-1.77 7.67-4.11 7.27-7.69-.48-4.49-4-5.56-8.3-2.54-1.58 1.11-4.93-6.77-7.57-6.38s3.25 9.27 1 9.64-6.74-9.25-7.51-10.81-4.23-5.42-7.36-2.48c-6.61 6.27-17.33 5.87-19.49 7.48-6.56 4.9-8.28-1.62-8.13-5.59.26-.91.53-1.83.82-2.72 2.15-2.36 9.83-3.13 12.47-1.37 2.89 1.94 5-.49 6.1-1.66s.75-3 0-4.55 1.45-2.7 2.95-3.09 6.51-3.89 8.5-5.05 12.36-2.4 17-.07a9 9 0 0011.18-2.24 30 30 0 018.12-6.76c1.63-.75-4-6-8.61-.29s-7 6.2-9.17 6.2-15.09-3.25-16.68-7.34 4-7.13 8.83-9.43 17.82-2.22 21.16-3c6.78-1.48 15.46-4.88 19.83-1.9s-18.26 8.05-10.84 12.07c2.64 1.45 14.6-6.86 18.69-9 9.64-4.95-9.32-6.62-6.85-16.71 2.8-11.41-23.25-7-36.24-6.08A111.94 111.94 0 01474.38 444a18.6 18.6 0 01-.55 5.18c-1 4-8.68 7.49-13.12 1-1.12-1.64-5.92-6.18-5.77 1.57s7.53 8.57.37 13.22-8.47 3.52-11.78 4.69-6.51 9.15-5.73 13.43 11 16 3.42 15.47c-1.78-.14-15.15-9.29-17.35-15.17-2.32-6.19-4.85-12.25-6.65-16.92s-6.54-5.84-10.55-3.11 1.11 5.45-1.77 11.28-4.91 11-9.11 6.2c-10.91-12.54-26.8-6.39-29.27-20.32-1.34-7.56-7.84-6.84-13.28-11.13s-8.5-6.58-9.42-3.5c-.82 2.7 17.09 16.93 18.36 20.58 1.89 5.41-5.38 10.17-10.71 11.44s-7.62-3-12.83-8.43-7.49-9.32-7.86-5.06c-.53 6.16 4.94 15.22 10.25 18.61 4.52 2.87 9.6 4.18 8.12 8.83s0 2-5.11 7-6.06 6.67-5.7 13.63-1.46 7.4-2.56 13.21-3.62.78-5.82 9.3m120.16-44.48c3.77-.3 9.41 4.92 7.2 6.92s-7.85 1.25-10.67-1 1.78-5.82 3.47-5.95m-4.75-3.45c-1.21-.45-2.27-1.6-3.18-4.35s1.4-4.31 3.66-3.2 5.27 4.6 5.27 6.43-4.52 1.61-5.75 1.12m-49.37-.18c-2.22 2-7.88 1.24-10.71-1s1.8-5.82 3.48-5.95c3.77-.33 9.42 4.94 7.23 6.93M350.2 509c-1.54 2.52-5.78 21.34-8.6 19.14s1.17-21.83 2-23.32c4.43-8.11 14-7.7 6.61 4.18m15.12 73a112.17 112.17 0 01-31.46-4.56 4.61 4.61 0 01-1.35-5.47c3.48-9 13.8-12.55 21.95-13.32 18.15-1.75 42 11.84 45.8 9.66s11.49-12.15 22.76-11.72c7.68.31 7.62 1.6 10.2 2.57A111.54 111.54 0 01365.32 582m79-32.49a19.5 19.5 0 01-3.51-1.3c-6.11-3.12-5.38 1.85-8.39.75s3.41-8.09-5.63-2.2-6.56-.92-10.47-10.89S420.87 514.55 428 512c9.73-3.51 15.77-4.22 20.33-5.34 13.46-3.34 16.31-11.32 18.75-6.46.46.91.9 1.78 1.3 2.59a17.62 17.62 0 011.72 7.3 112 112 0 01-25.72 39.46m30.75-56.48c-3-.83-15.55-18.22-5.6-29.65 1.66-1.88-3.32-7.41-2-7.52 5.44-.42 8.33 3 9.75 7.83.1 2.14.19 4.3.18 6.49a113.17 113.17 0 01-2.37 22.85"
            />
          </g>
        </svg>
      </a>
      <a
        style="background-color: rgb(86, 192, 43); margin-left: 5px"
        tabindex="0"
        class="btn btn-lg"
        role="button"
        data-bs-placement="bottom"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-content="Aguardando"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
          <path
            fill="#56c02b"
            d="M-1.08-1.08h722.16v722.16H-1.08z"
            id="goal_background"
            data-name="goal background"
          />
          <g id="ENG_text_graphics" data-name="ENG text &amp; graphics">
            <path
              class="cls-2"
              d="M48.78 88.93C44.7 91.14 33 94.37 28.89 96.41V76.86c5.44-2.21 20.57-9.52 25.67-15.13h20.57v137.7H48.78zM78.53 159.48H104c0 15.13 1.87 23 11.39 22.61 10-.34 10.54-11.56 10.54-29.58 0-14.62-1.53-25-11.73-25-6.12 0-10 4.25-11.73 12.41H79.89l1.87-78.2H145v22.62h-41.82l-1.36 30.43c2.72-3.4 9.69-6.12 17.34-6.63 21.25-1.87 31.62 15 31.62 43.18 0 29.24-5.61 50.32-36.89 50.32-29.07 0-35.36-16.64-35.36-42.16zM226.92 61.63h8.45l7 37.24 6.56-37.24h8.65l-10.6 52.65h-9.42zM261.24 61.63h9.49v52.65h-9.49zM276.91 61.63h12.41C302.13 61.63 306 66.76 306 78v19.18c0 11.57-4 17.1-16.32 17.1h-12.8zm12.54 45.95c6.57 0 6.83-3.51 6.83-10.07V77.36c0-6.31-.65-8.91-7-8.91h-2.86v39.13zM318.64 61.63h10.27l10.53 52.65h-8.91l-2.08-12.16h-9.16l-2.15 12.16h-9zM327.41 96l-3.57-22.1-3.58 22.1zM234.66 154.71h-8.39v-7.08h26.2v7.08h-8.19v45.57h-9.62zM255.33 147.63h22.1v6.76h-12.55v15.14h9.88v6.7h-9.88v17.48h12.68v6.57h-22.23zM281.19 147.63h12.68c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12h-9.56zm12.62 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM315.71 147.63h12.67c10.53 0 16.52 3.38 16.52 14 0 6.31-1.56 10.73-6.51 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12h-9.55zm12.61 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM350.22 147.63h22.1v6.76h-12.54v15.14h9.88v6.7h-9.88v17.48h12.67v6.57h-22.23zM374.79 184.94l8.26-1.63c.26 6.24 1.75 10.27 6 10.27 3.05 0 4.35-2.08 4.35-4.94 0-4.55-2.34-7.08-5.78-10.07l-6.62-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.58-13 9.88 0 12.68 6.63 13.2 14.3l-8.26 1.43c-.19-4.94-.91-8.64-5.13-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.49 5.52 4.29 7.93l6.56 5.78c4.29 3.71 7.87 8.32 7.87 15.28 0 7.6-5.33 12.93-13.2 12.93-9.65.01-14.2-5.59-14.59-16.05zM411.52 154.71h-8.39v-7.08h26.2v7.08h-8.19v45.57h-9.62zM432.19 147.63h12.67c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12h-9.55zm12.61 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM466.7 147.63h22.1v6.76h-12.54v15.14h9.88v6.7h-9.88v17.48h12.67v6.57H466.7zM297.69 487.78a1.6 1.6 0 011.59 1.6v52.83a1.58 1.58 0 01-1.59 1.6h-21.38a1.59 1.59 0 01-1.61-1.6v-52.83a1.61 1.61 0 011.61-1.6zM532.45 566.5H180.16a1.64 1.64 0 00-1.61 1.65v21.53a1.6 1.6 0 001.61 1.59h352.29a1.62 1.62 0 001.62-1.59v-21.53a1.66 1.66 0 00-1.62-1.65M532.45 609.29H180.16a1.6 1.6 0 00-1.61 1.59v21.6a1.62 1.62 0 001.61 1.59h352.29a1.63 1.63 0 001.62-1.59v-21.6a1.62 1.62 0 00-1.62-1.59M465.42 429.3c-4.41-3.44-16.15-11.48-30.48-11.48-10.24 0-19.77 4-28.29 12a3 3 0 00-.94 2.21V434a3.07 3.07 0 001 2.41 2.84 2.84 0 002.48.57 3.26 3.26 0 00.67-.16 4.76 4.76 0 001.76-1.12c1.84-1.24 6.89-2.94 14.11-2.94 7.46 0 22.12 2 36.3 15.22l.32.29a4.26 4.26 0 003.07 1.27 4.17 4.17 0 003-1.24l.28-.3c14.25-13.24 28.89-15.24 36.35-15.24 7.27 0 12.3 1.7 14.15 2.94a5.16 5.16 0 002 1.19 4.35 4.35 0 002.06.07 3 3 0 002.22-2.91v-1.7a3.06 3.06 0 00-.95-2.18c-8.6-8.2-18.23-12.34-28.63-12.34-14.2 0-25.89 7.91-30.41 11.5M443.55 288.89a2.9 2.9 0 00-1.53 1.86l-.36 1.17a3 3 0 00.46 2.65 2.92 2.92 0 002.18 1.18 1.12 1.12 0 00.44 0 3.93 3.93 0 001.71-.43 8.46 8.46 0 012.13-.24c1.58 0 15.78.48 25.17 16.44l.12.23a3.61 3.61 0 002.25 1.8 4.53 4.53 0 001.13.17 3.68 3.68 0 001.77-.44l.23-.11A35.1 35.1 0 01495 309.3c8.9 0 14.71 3.63 16.07 5.15a4.07 4.07 0 001.17 1.31 8.64 8.64 0 001.15.55 4 4 0 00.52.08 1.67 1.67 0 00.32 0 3.05 3.05 0 002.89-2.16l.29-1a2.61 2.61 0 00.13-.85 2.88 2.88 0 00-.41-1.52c-6.84-11.88-16.77-14.36-23.9-14.36a37.66 37.66 0 00-12.68 2.38c-3.23-4.34-11.38-13.31-23.76-13.31a29.26 29.26 0 00-13.21 3.34M369.11 343.09l.11 1.58a2.93 2.93 0 001.4 2.38 3 3 0 002.37.36c.17 0 .37-.11.52-.16a3.89 3.89 0 001.52-1.13c1.5-1.08 6.32-3.05 13.44-3.05 6.84 0 17.25 1.83 27.85 10.54l.25.25a4.19 4.19 0 002.72 1h.26a4.06 4.06 0 002.76-1.33l.24-.26c11.74-12.41 24.39-14.27 30.88-14.27 4.63 0 7.91 1 9.19 1.68a4.48 4.48 0 001.83.95 4 4 0 001.29.09 5 5 0 00.74-.18 3 3 0 002-3l-.08-1.38a3 3 0 00-1.06-2.09c-7-5.9-14.58-8.87-22.54-8.87-12.39 0-22.27 7.32-26.37 10.91-3.75-2.55-12.84-7.8-23.5-7.8-9.38 0-17.78 3.89-25 11.55a3.1 3.1 0 00-.82 2.25M190.84 371.37A38.19 38.19 0 01229 333.18c.83 0 1.63.07 2.45.12a51.65 51.65 0 1197.93 26.44 57.73 57.73 0 01-12.53 114.09c-2.33 0-77.07-.45-77.07-.45a40.85 40.85 0 01-29.74-68.89 38.13 38.13 0 01-19.2-33.12z"
            />
          </g>
        </svg>
      </a>
      <a
        style="background-color: rgb(25, 72, 106); margin-left: 5px"
        tabindex="0"
        class="btn btn-lg"
        role="button"
        data-bs-placement="bottom"
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-content="Aguardando"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
          <path
            fill="#19486a"
            d="M-1.08-1.08h722.16v722.16H-1.08z"
            id="goal_background"
            data-name="goal background"
          />
          <g id="ENG_text_graphics" data-name="ENG text &amp; graphics">
            <path
              class="cls-2"
              d="M50.12 88.93c-4.12 2.21-15.81 5.44-19.89 7.48V76.86c5.44-2.21 20.57-9.52 25.67-15.13h20.57v137.7H50.12z"
            />
            <path
              class="cls-2"
              d="M113.36 81.79H76V61.73h63V78.9l-29 120.53H84.46zM183.73 61.63h15.47c9.43 0 13.46 5.46 13.46 14.95 0 10.33-5.59 14.3-14.11 14.3h-5.26v23.4h-9.56zM197 84.12c5.27 0 6.63-2 6.63-7.61s-.71-8.12-6.63-8.12h-3.7v15.73zM221.69 61.63H232l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zM230.47 96l-3.58-22.1-3.57 22.1zM246.33 61.63H259c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12h-9.55zm12.61 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM280.25 97.44V78.66c0-10.79 3.45-17.62 15-17.62 10.79 0 14.24 6 14.24 15.15v4.42h-9.23v-4.55c0-4.42-.07-8-4.94-8s-5.4 3.77-5.4 8.58v22.82c0 5.72 1.17 8.45 5.4 8.45 4.74 0 4.94-3.71 4.94-8.39v-4.74h9.23V99c0 9.3-3.13 16-14.24 16-11.55 0-15-7.29-15-17.56zM314.77 61.63h22.1v6.76h-12.55v15.14h9.88v6.7h-9.88v17.48H337v6.57h-22.23zM341.16 61.63h12.67c10.53 0 16.51 3.38 16.51 14 0 6.31-1.56 10.73-6.5 12.74l7.35 25.94h-9.62l-6.31-24.12h-4.55v24.12h-9.55zm12.61 22.55c5.52 0 7.54-2.4 7.54-8.06 0-5.33-1.5-7.93-7-7.93h-3.58v16zM376.45 61.63h9.49v52.65h-9.49zM400.5 61.63h10.27l10.53 52.65h-8.9l-2.08-12.16h-9.17L399 114.28h-9zM409.28 96l-3.58-22.1-3.57 22.1zM423.58 98.94l8.25-1.63c.26 6.24 1.76 10.27 6 10.27 3.06 0 4.36-2.08 4.36-4.94 0-4.55-2.34-7.08-5.79-10.07l-6.63-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.59-13 9.88 0 12.67 6.63 13.19 14.3l-8.25 1.43c-.2-4.94-.91-8.64-5.14-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.5 5.52 4.29 7.93l6.57 5.78c4.29 3.71 7.86 8.32 7.86 15.28 0 7.6-5.33 12.93-13.19 12.93-9.64.01-14.16-5.59-14.58-16.05zM469.92 61.63H492v6.76h-12.52v15.14h9.88v6.7h-9.88v17.48h12.67v6.57h-22.23zM511.46 61.63h9.94l7.48 36.46 7.73-36.46h9.69l1 52.65h-7.15l-.78-36.6-7.47 36.6h-5.79l-7.6-36.73-.72 36.73h-7.21zM553.64 61.63h22.1v6.76H563.2v15.14h9.88v6.7h-9.88v17.48h12.67v6.57h-22.23zM580.29 61.63h9.49v52.65h-9.49zM595.63 97.77V78c0-10.66 3.9-17 15.21-17S626 67.35 626 78v19.77c0 10.59-3.9 17.22-15.15 17.22s-15.22-6.56-15.22-17.22zm20.61 2.23V75.8c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V100c0 4.36.71 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM630.34 98.94l8.25-1.63c.26 6.24 1.76 10.27 6 10.27 3.06 0 4.36-2.08 4.36-4.94 0-4.55-2.34-7.08-5.79-10.07l-6.63-5.79c-3.77-3.25-6.11-6.89-6.11-12.74 0-8.32 5.2-13 13.59-13 9.88 0 12.67 6.63 13.19 14.3l-8.25 1.43c-.2-4.94-.91-8.64-5.14-8.64-2.86 0-4.42 2.14-4.42 4.94 0 3.57 1.5 5.52 4.29 7.93l6.57 5.78c4.29 3.71 7.86 8.32 7.86 15.28 0 7.6-5.33 12.93-13.19 12.93-9.64.01-14.19-5.59-14.58-16.05zM183.73 147.63h12.42c12.8 0 16.7 5.13 16.7 16.38v19.17c0 11.57-4 17.1-16.31 17.1h-12.81zm12.55 46c6.56 0 6.82-3.51 6.82-10.07v-20.2c0-6.31-.65-8.91-6.95-8.91h-2.86v39.13zM218.51 147.63h22.1v6.76h-12.55v15.14h9.88v6.7h-9.88v17.48h12.68v6.57h-22.23zM259.52 147.63H269v52.65h-9.49zM276.48 147.63h9.95l7.48 36.46 7.73-36.46h9.69l1 52.65h-7.15l-.78-36.6-7.48 36.6h-5.78l-7.6-36.73-.72 36.73h-7.22zM318.67 147.63h15.47c9.43 0 13.45 5.46 13.45 15 0 10.33-5.58 14.3-14.1 14.3h-5.27v23.4h-9.55zm13.26 22.49c5.26 0 6.63-2 6.63-7.61s-.72-8.12-6.63-8.12h-3.71v15.73zM351.49 147.63h9.56v46.08h12.8v6.57h-22.36zM377.43 147.63h22.1v6.76H387v15.14h9.88v6.7H387v17.48h12.68v6.57h-22.25zM404.6 147.63h9.94l7.46 36.46 7.73-36.46h9.69l1 52.65h-7.15l-.78-36.6-7.49 36.6h-5.79l-7.6-36.73-.72 36.73h-7.21zM446.78 147.63h22.1v6.76h-12.54v15.14h9.88v6.7h-9.88v17.48H469v6.57h-22.22zM473.17 147.63h6.7l12.8 30v-30h7.93v52.65h-6.37l-12.87-31.46v31.46h-8.19zM512.43 154.71h-8.38v-7.08h26.19v7.08h-8.19v45.57h-9.62zM540.19 147.63h10.27L561 200.28h-8.91L550 188.12h-9.16l-2.15 12.16h-9zM549 182l-3.57-22.1-3.62 22.1zM583.67 166.61v-4.55c0-4.42-.06-8-4.94-8s-5.39 3.77-5.39 8.58v22.82c0 5.72 1.17 8.45 5.39 8.45 4.75 0 4.94-3.71 4.94-8.39v-4.74h9.23V185c0 8.91-2.86 15.47-12.93 16v3.25c4.81 0 8.06 2.15 8.06 6.18 0 4.61-4.1 6.56-8.84 6.56a16.87 16.87 0 01-4.68-.71v-4.1a11.51 11.51 0 003.51.52c2.27 0 4-.65 4-2.4 0-2.34-2.66-3.19-5.72-3.51v-5.92c-9.62-1-12.61-7.93-12.61-17.42v-18.79c0-10.79 3.45-17.62 15-17.62 10.79 0 14.23 6 14.23 15.15v4.42zM606 147.63h10.3l10.53 52.65h-8.9l-2.08-12.16h-9.17l-2.14 12.16h-9zm2-9.95c-1.69 0-2.28 1-2.28 2.67h-4.55c0-4.68 1.3-8.19 5.53-8.19 3.18 0 5.33 3 8.12 3 1.5 0 2.08-.91 2.08-2.6h4.29c0 4.09-.71 8.19-4.94 8.19-3.33-.01-5.54-3.07-8.2-3.07zm6.81 44.32l-3.58-22.1-3.57 22.1zM629.3 183.77V164c0-10.66 3.9-17 15.21-17s15.15 6.31 15.15 17v19.76c0 10.59-3.9 17.22-15.15 17.22s-15.21-6.55-15.21-17.21zm20.61 2.23v-24.2c0-4.42-.72-7.74-5.4-7.74s-5.46 3.32-5.46 7.74V186c0 4.36.72 7.87 5.46 7.87s5.4-3.47 5.4-7.87zM544.38 437.25a94.6 94.6 0 00-91-94.42 94.49 94.49 0 00-178.19 0 94.42 94.42 0 00-54.54 168.9 94.43 94.43 0 00144.1 104.16 94.43 94.43 0 00143.32-104.26 94.38 94.38 0 0036.31-74.38m-104.64-63a75.5 75.5 0 01-64.33 74.55 74.8 74.8 0 0163.35-86.14 75 75 0 011 11.59m-75.11 217.1a75.25 75.25 0 01-.7-107.5 75.25 75.25 0 01.7 107.5M289.8 362.69a74.74 74.74 0 0163.35 86.15 74.74 74.74 0 01-63.35-86.15M346.07 471A75.18 75.18 0 01244 504.2 75.18 75.18 0 01346.07 471m36.18-.51a75.23 75.23 0 01102.56 33.59 75.2 75.2 0 01-102.56-33.59m-18-171.66a75.54 75.54 0 0169.18 45.38 94.82 94.82 0 00-69.18 53.1 94.73 94.73 0 00-69.16-53.1 75.54 75.54 0 0169.16-45.38M203.21 437.25a75.56 75.56 0 0167.37-75 96.33 96.33 0 00-.79 12.07 94.29 94.29 0 0030.87 69.81 94.71 94.71 0 00-72.45 49.09 75.21 75.21 0 01-25-55.94M235.94 538a74.71 74.71 0 011.65-15.64A94.32 94.32 0 00324.3 520a94 94 0 0025.07 83.11A75.32 75.32 0 01235.94 538m256.69-.62A75.35 75.35 0 01380 602.89 94.19 94.19 0 00405.9 538a95.31 95.31 0 00-1.76-18.08 94.27 94.27 0 0087 2.37 75.06 75.06 0 011.53 15.09m-64.15-93.8a94.24 94.24 0 0030.29-69.25 96.33 96.33 0 00-.79-12.07A75.34 75.34 0 01500.57 493a94.69 94.69 0 00-72.09-49.46"
            />
          </g>
        </svg>
      </a>
    </div>
  </section>
</template>

<script setup >
import imgOnu from "@/assets/img/reflora/title-onu.png";

import setPopover from "@/assets/js/popover";
import store from "../../../stores";
import { onMounted } from "vue";
onMounted(() => {
  setPopover(store.state.bootstrap);
});
</script>

<style scoped>
.cls-2 {
  fill: #fff;
}

svg {
  width: 200px;
  height: 200px;
  margin: 10px;
}
</style>