<script setup>
// images
import imgonTreePlanted from "@/assets/img/reflora/one-tree.png";
import imgonRizoMusic from "@/assets/img/reflora/rizo-music.png";
// import store from "../stores";
// import "bootstrap/dist/css/bootstrap.min.css";
// import "bootstrap/dist/js/bootstrap.min.js";

// import setPopover from "@/assets/js/popover";
// import store from "../stores";
// import { onMounted } from "vue";
// onMounted(() => {
//   setPopover(store.state.bootstrap);
// });

const questions = [
  {
    id: 1,
    title: "Como as árvores são plantadas?",
    response:
      "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
  },
  {
    id: 2,
    title: "Como posso saber onde minhas árvores serão plantadas?",
    response:
      "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
  },
  {
    id: 3,
    title: "Quando minhas árvores serão plantadas?",
    response:
      "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
  },
  {
    id: 4,
    title: "Onde as árvores serão plantadas?",
    response:
      "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
  },
];
</script>
<template>
  <section>
    <div class="container">
      <div class="row text-center my-sm-5 mt-5">
        <div class="col mx-auto">
          <h4>Parceiros</h4>

          <p align="left">
            <a
              href="https://onetreeplanted.org"
              target="_blank"
              rel="noreferrer"
            >
              <img :src="imgonTreePlanted" alt="" width="200" height="200" />
            </a>
            <a href="https://rizomusic.com.br" target="_blank" rel="noreferrer">
              <img :src="imgonRizoMusic" alt="" width="280" height="280" />
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-10">
    <div class="container">
      <h4 class="text-center mb-5">FAQ</h4>

      <div class="text-center">
        <div v-for="(item, i) in questions" :key="i">
          <button
            class="btn btn-light btn-lg"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="`#collapseWidthExample${item.id}`"
            aria-expanded="false"
            :aria-controls="`collapseWidthExample${item.id}`"
          >
            {{ i + 1 + "° " + item.title }}
          </button>
          <div
            class="collapse collapse-horizontal"
            :id="`collapseWidthExample${item.id}`"
          >
            <div class="card card-body mb-3">
              {{ item.response }}
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-6">
          <div class="accordion" id="accordionQuestion">
            <div class="accordion-item" v-for="(item, i) in questions" :key="i">
              <h2 class="accordion-header" :id="`heading_${item.id}`">
                <button
                  style="border: 1px solid black;"
                  class="accordion-button btn btn-black"
                  type="button"
                  data-bs-toggle="collapse"
                  :data-bs-target="`#collapse_${item.id}`"
                  aria-expanded="true"
                  :aria-controls="`collapse_${item.id}`"
                >
                  {{ item.title }}
                </button>
              </h2>
              <div
                :id="`collapse_${item.id}`"
                class="accordion-collapse collapse"
                :aria-labelledby="`heading_${item.id}`"
                data-bs-parent="#accordionQuestion"
              >
                <div class="card" style="color: black; padding:10px">{{ item.response }}</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</template>
